body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 100%;
  width: 100%;
}

.height-100vh {
  height: 100vh;
}

/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%
}

html {
  /* font-size 10px */
  /*font-size: 62.5%;*/
  overflow-x: hidden;
}

body {
  line-height: 1;
  font-weight: 400;
  color: #dfdfdf;
  /*font-size: 1.6rem;*/
}

.font_size--20 {
  font-size: 2rem;
}

.text_align--center {
  text-align: center;
}

.width--100 {
  width: 100%;
}

.width--fit {
  width: fit-content;
}
.width--min {
  width: min-content;
}

.width--max {
  width: max-content;
}

.cursor--p {
  cursor: pointer;
}

 .margin-0 {
   margin: 0;
 }

.margin_b-50 {
  margin-bottom: 5rem;
}

.margin_b-5 {
  margin-bottom: 0.5rem;
}

.margin_b-10 {
  margin-bottom: 1rem;
}

.margin_b-20 {
  margin-bottom: 2rem;
}

.margin_b-30 {
  margin-bottom: 3rem;
}

.margin_l-a {
  margin-left: auto;
}

.margin_x-a {
  margin-left: auto;
  margin-right: auto;
}


 .padding--20 {
   padding: 2rem;
 }


 .btn:link,
 .btn:visited,
 .btn {
   display: inline-block;

   font-size: 2rem;
   padding: 1.6rem 3.2rem;
   text-decoration: none;
   border-radius: 10px;
   font-weight: 600;

   transition: all 0.3s;

   /* For .btn in CTA */
   border: none;
   cursor: pointer;
 }

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* Как добавлять рамку без смены интерфейса */
  box-shadow: inset 0 0 0 3px #fff;
}
.link,
.link:link,
.link:visited {
  /* display: inline-block; */
  color: #6741d9;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
  cursor: pointer;
}

.link:hover,
.link:active {
  color: #5f3dc4;
  border-bottom: 1px solid transparent;
}

/*HEADINGS*/

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #845ef7;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 2.8rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

/*GRID & FLEX*/

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:last-child {
  margin-bottom: 0;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}

.flex {
  display: flex;
  align-items: center;
}

.flex--start {
  justify-content: start;
}

.flex--space-between {
  justify-content: space-between;
}
.flex--space-evenly {
  justify-content: space-evenly;
}

.flex--center {
  justify-content: center;
}
.flex_align--top {
  align-items: flex-start;
}

.flex_align--center {
  align-items: center;
}

.flex_gap--10 {
  gap: 1rem;
}
.flex_gap--50 {
  gap: 5rem;
}

