.container {
    width: 60%;
    min-width: 550px;
    height: 655px;
    margin: 0 auto;
    padding: 30px 10px;

    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);

    background-color: rgba(73, 80, 87, 0.6);
    border: 2px solid #495057;
    border-radius: 15px;


    display: grid;
    grid-template-columns:0.6fr 0.4fr;
    gap: 70px;
}

.img {
    height: calc(100% - 64px);
    background: url('https://images.unsplash.com/photo-1596501048409-9f3a65442e1f') center no-repeat;
    background-size: cover;

    padding-top: 100px;
}
